[submodule "safety-tooling"]
	path = safety-tooling
	url = https://github.com/safety-research/safety-tooling.git

[submodule "character_evals/sycophancy-eval"]
    path = character_evals/sycophancy-eval
    url = https://github.com/meg-tong/sycophancy-eval.git
